.positions_root{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
}
.position_root{
    height: 100%;
    width: 28px;
    border: solid 1px #4b4b4b;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.position_text{
    font-size: 13px;
}
.position_root:hover{
    cursor: default;
}