.pitch{
    width: 730px; 
    height: 535px;
    background-color: #1c1c1c;
    position: relative;
}
.pitch > .player-card{
    position: absolute;
    color: white;
    width: 140px;
    height: 70px;
}
.pitch > .player-card:hover{
    cursor: pointer;
    border-radius: 5px;
    background-color: #2c2c2c;
}
.pitch > .player-card:hover .player-card-name{
    background-color: #222222;
}
.pitch > .player-card > .player-card-jersey{
    display: flex;
    
    justify-content: center;
    height: 45px;
}
.pitch > .player-card > .player-card-number{
    color: #8a8a8a;
    position: absolute;
    height: 25px;
    top: 0px;
    left: 18px;
}
.pitch > .player-card > .player-card-flag{
    position: absolute;
    top: 25px;
    left: 15px;
}
.pitch > .player-card > .player-card-rating{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 0px;
    right: 11px;
    height: 35px;
    line-height: 25px;
}
.pitch > .player-card > .player-card-position{
    color: #ff0000;
    position: absolute;
    height: 25px;
    top: 27px;
    right: 14px;
    font-size: 14px;
}
.pitch > .player-card > .player-card-name{
    background-color: #181818;
    border-radius: 5px;
    height: 25px;
    text-align: center;
    font-size: 16px;
    color: #e0e0e0;
}
img{
    pointer-events: none;
}