.root{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #080808;
}
.items_section{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: row;
}
.item,
.item_active{
    color: #9b9b9b; 
    text-decoration: none;
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.item_active{
    background-color: #494949;
    cursor: default;
    pointer-events: none;
    color: rgb(214, 214, 214);
}
.item:hover{
    color: #dddddd; 
    background-color: #000000;
}