.playerlist_root{
    width: 100%;
}

.playerlistheader_root,
.playerlistmember_root{
    display: flex;
    flex-direction: row;
    height: 30px;
}
.playerlistheader_root{
    background-color: #161616;
}
.playerlistmember_root{
    background-color: #1d1d1d;
    margin-top: 2px;
}
.playerlistmember_root:hover{
    background: linear-gradient(#2b2b2b, #1b1b1b);
}
.playerlistmember_root:hover > .playerlistmember_rating{
    font-size: 24px;
}
.playerlistmember_root > div,
.playerlistheader_root > div{
    display: flex;
    align-items: center;
    height: 100%;
}

.playerlistheader_flag,
.playerlistheader_name,
.playerlistheader_positions,
.playerlistheader_age,
.playerlistheader_role,
.playerlistheader_rating{
   color: rgb(139, 139, 139);  
   cursor: pointer;
   border-bottom: solid 1px #646464;
}

.playerlistheader_flag,
.playerlistmember_flag{
    font-size: 14px;
    width: 7%;
    justify-content: center;
}
.playerlistheader_flag:hover{
    border-bottom: solid 1px #cfcfcf;
}

.playerlistheader_name,
.playerlistmember_name{
    width: 40%;
}
.playerlistmember_name{
    color: #c2c2c2;
    font-size: 16px;
    cursor: default;
}
.playerlistmember_name > span{
    color: #8b8b8b;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.playerlistheader_name:hover{
    border-bottom: solid 1px #cfcfcf;
}

.playerlistheader_positions,
.playerlistmember_positions{
    width: 30%;
}
.playerlistmember_positions{
    height: 100%;
    /*display: flex;*/
    /*align-items: center;*/
}
.playerlistheader_positions:hover{
    cursor: default;
}
.playerlistheader_positions_title{
    width: 35%;
}
.playerlistheader_positions_options{
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.playerlistheader_positions_option_gk,
.playerlistheader_positions_option_df,
.playerlistheader_positions_option_mf,
.playerlistheader_positions_option_fw{
    width: 24px;
    margin-right: 6px;
    border: solid 1px #777777; 
    text-align: center;
    height: 60%;
    font-size: 12px;
}
.playerlistheader_positions_option_gk:hover{
    border: solid 1px #ffbe19; 
    color: #ffbe19;
    cursor: pointer;
}
.playerlistheader_positions_option_df:hover{
    border: solid 1px #02d65a; 
    color: #02d65a;
    cursor: pointer;
}
.playerlistheader_positions_option_mf:hover{
    border: solid 1px #ff4747; 
    color: #ff4747;
    cursor: pointer;
}
.playerlistheader_positions_option_fw:hover{
    border: solid 1px #409cff; 
    color: #409cff;
    cursor: pointer;
}

.playerlistheader_age,
.playerlistmember_age{
    width: 7%;
    justify-content: center;
}
.playerlistmember_age{
    color: #989898;
    font-size: 18px;
    cursor: default;
}
.playerlistheader_age:hover{
    border-bottom: solid 1px #cfcfcf;
}

.playerlistheader_role,
.playerlistmember_role{
    width: 10%;
    justify-content: center;
}
.playerlistmember_role_content{
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    font-weight: bold;
    color: black;
    cursor: default;
}
.playerlistheader_role:hover{
    cursor: default;
}

.playerlistheader_rating,
.playerlistmember_rating{
    width: 6%;
    justify-content: center;
}
.playerlistmember_rating{
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}
.playerlistheader_rating:hover{
    border-bottom: solid 1px #cfcfcf;
}