.roster{
    width: 100%;
}
.roster > .header{
    width: 100%;
    background-color: #0f0f0f;
}
.roster > .header > .header-text{
    height: 100%;
    font-size: 14px;
    color: #9c9c9c;
    width: fit-content;
    margin-left: 10px;
}
.roster > .bench{
    width: 100%;
}
.roster > .starters{
    width: 100%;
}

.roster-member{
    background-color: #1d1d1d;
    display: flex;
    flex-direction: row;
    height: 23px;
    margin-top: 3px;
}
.roster-member:hover{
    background-color: #202020;
    cursor: pointer;
}
.roster-member:hover > .roster-member-rating{
    font-size: 20px;
    margin-top: -1px;
}
.roster-member > div{
    display: flex;
    align-items: center;
    height: 100%;
}
.roster-member > .roster-member-flag{
    width: 7%;
    justify-content: center;
}
.roster-member > .roster-member-name{
    width: 40%;
    color: #b2b2b2;
    font-size: 16px;
    align-items: normal;
}
.roster-member > .roster-member-name > span{
    color: #666666;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.roster-member > .roster-member-positions{
    width: 30%;
    height: 100%;
    align-items: center;
}
.roster-member > .roster-member-age{
    width: 7%;
    justify-content: center;
    color: #989898;
    font-size: 14px;
}
.roster-member > .roster-member-role{
    width: 10%;
    justify-content: center;
}
.roster-member > .roster-member-role > .roster-member-role-content{
    height: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #019f4b;
    width: 30px;
    font-weight: bold;
    color: black;
}

.roster-member > .roster-member-rating{
    width: 6%;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}