.root {
    height: 24px;
    width: 300px;
    position: relative;
    background-color: red;
}

.header {
    border: solid 1px #676767;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1b1b;
}
.header:hover {
    background-color: #202020;
    cursor: pointer;
}
.header:hover > .header_text{
    color: rgb(214, 214, 214);
}

.header_text {
    color: #bcbcbc;
    font-size: 16px;
    width: 90%;
    text-align: center;
}

.header_icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    position: absolute;
    top:100%;
    left: 0;
    right: 0;
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 0px 0px #e2e2e233;
    z-index: 999;
}
.items::-webkit-scrollbar {
  width: 8px;
}

.items::-webkit-scrollbar-track {
  background: #111; 
}

.items::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 0px;
}

.items::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.item {
    color: #bcbcbc;
    flex-shrink: 0;
    height: 30px;
    display: flex;
    width: 100%;
    border-top: solid 1px #2a2a2a;
    background-color: #212121;
}
.item:hover {
    cursor: pointer;
    background-color: #252525;
}
.item:hover > .item_text {
   color: rgb(214, 214, 214);
}

.item_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.item_text {
    font-size: 16px;
    width: 85%;
    display: flex;
    align-items: center;
}